<%= form_with model: purchase_receipt do |form| %>
  <div>
    <%= form.label :price %>
    <%= form.number :price %>
    <% item.errors.full_messages_for(:price).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :expected_arrival %>
    <%= form.date :expected_arrival %>
    <% item.errors.full_messages_for(:expected_arrival).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :item_component_id %>
    <%= form.date :item_component_id %>
    <% item.errors.full_messages_for(:item_component_id).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>