<%= link_to 'All Items'items_path %>
<h1><%= @item.name %></h1>
<p><%= @item.description %></p>
<h2>Components</h2>
<ul>
  <% @item.item_components.each do |component| %>
    <li><%= component.name %></li>
  <% end %>
</ul>
<%= link_to 'Edit', edititem_path(@item) %>
<%= link_to 'Delete'item_path(@item), data: {
  turbo_method: :delete,
  turbo_confirm: 'Are you sure?'
} %>
