<%= link_to 'All sale Receipts'sale_receipts_path %>
<h1><%= @sale_receipt.price %></h1>
<p><%= @sale_receipt.expected_delivery %></p>
<%= link_to 'Edit', editsale_receipt_path(@sale_receipt) %>
<%= link_to 'Delete'sale_receipt_path(@sale_receipt), data: {
  turbo_method: :delete,
  turbo_confirm: 'Are you sure?'
} %>
