<%= form_with model: item_subscriber do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.number :name %>
    <% item.errors.full_messages_for(:name).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>