<%= link_to 'All Items', furniture_items_path %>
<h1><%= @furniture_item.name %></h1>
<p><%= @furniture_item.description %></p>
<h2>Components</h2>
<ul>
  <% @furniture_item.item_components.each do |component| %>
    <li><%= component.name %></li>
  <% end %>
</ul>
<%= link_to 'Edit', edit_furniture_item_path(@furniture_item) %>
<%= link_to 'Delete', furniture_item_path(@furniture_item), data: {
  turbo_method: :delete,
  turbo_confirm: 'Are you sure?'
} %>
