<%= link_to 'Logout', admin_session_path(@current_admin), data: {
  turbo_method: :delete,
  turbo_confirm: 'Are you sure?'
} %>
<h1>Welcome to the Admin Panel</h1>
<p><%= link_to 'Admin Users', admin_users_path %></p>
<p><%= link_to 'Items', items_path %></p>
<p><%= link_to 'Item Components', item_components_path %></p>
<p><%= link_to 'Suppliers', suppliers_path %></p>
<p><%= link_to 'Organizations', organizations_path %></p>
<p><%= link_to 'Item Subscribers', item_subscribers_path %></p>
<p><%= link_to 'Purchase Receipts', purchase_receipts_path %></p>
<p><%= link_to 'Sale Receipts', sale_receipts_path %></p>
<p><%= link_to 'Users', users_path %></p>