<h1>New Admin User</h1>
<%= form_with model: @admin_user do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email, required: true %>
    <% @admin_user.errors.full_messages_for(:email).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
    <% @admin_user.errors.full_messages_for(:password_confirmation).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, required: true %>
    <% @admin_user.errors.full_messages_for(:password_confirmation).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>